.box{
    width: 70%;
    margin: 50px auto;
    background-color: whitesmoke;
    border-radius: 3%;
}

canvas{ 
    display: block; 
    vertical-align: bottom; 
} 
#particles-js{ 
    position:absolute; 
    width: 100%; 
    height: 300%;
    background-color: #191b2b; 
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: 20%; 
    background-position: 50% 50%; 
} 

