{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profil | Elvin Nur Furqon</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/profil_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/lab_4.css' %}">
</head>

<body>

    {% include "partials/header.html" %}

    <div id="particles-js"></div>
    <div class="pass">
        <br><br><br>
    </div>

    <div class="Container text-center justify-content-around box">
        <div class="card">
            <h1>PROFIL</h1>
            <br>
            <img src="{% static 'img/My-logo.png' %}" style="margin: 50px auto;" alt="foto">
            <br>
            <h2>Elvin Nur Furqon</h2>
            <br>
            <h5>"Lahir di bogor tanggal 28 maret 1999, saat ini saya sedang menempuh
                pendidikan
                S1 di salah satu universitas <br>tinggi swasta di bandung, jurusan teknik komputer.<br>
                saya memiliki minat tinggi terhadap dunia IT"</h5>
            <br>
            <h4>elvinnurfurqon17@gmail.com</h4>
            <br>
            <br>
        </div>
    </div>

    <div class="pass">
        <br><br><br>
    </div>

    {% include "chatbox.html" %}


    <script src="{% static 'js/particles.min.js' %}"></script>
    <script src="{% static 'js/settings.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'jquery/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'js/lab_4.js' %}"></script>
</body>

</html>