{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resume | Elvin Nur Furqon</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/resume_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/lab_4.css' %}">
</head>

<body>

    {% include "partials/header.html" %}

    <div id="particles-js"></div>
    <div class="pass">
        <br><br><br>
    </div>

    <div class="Container text-center justify-content-around box">
        <div class="card">
            <h1>Resume</h1>
            <br>
            <div class="container">
                <div class="row justify-content-md-center">
                    <h2>Latar Belakang Pendidikan</h2>
                    <div class="container">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Nama Institusi</th>
                                    <th scope="col">Lulusan Angkatan</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>SDN Babakan</td>
                                    <td>2011</td>

                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>SMPN 1 Sukaraja</td>
                                    <td>2014</td>

                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>SMAN 7 Bogor</td>
                                    <td>2017</td>

                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>Telkom University</td>
                                    <td>-</td>

                                </tr>
                            </tbody>
                        </table>
                        <br>
                    </div>
                    <h2>Pengalaman Kerja</h2>
                    <br>
                    <br>
                    <div class="container">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Pekerjaan</th>
                                    <th scope="col">Durasi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Kantor Pos Tuban</td>
                                    <td>Magang</td>
                                    <td>2 bln</td>

                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Puskesmas Sukaraja</td>
                                    <td>part-time</td>
                                    <td>4 bln</td>

                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Lab. SEA</td>
                                    <td>Asisten Praktikum</td>
                                    <td>1 thn</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <h2>Pengalaman Organisasi</h2>
                        <table class='table'>
                            <tr>
                                <th scope="row">No</th>
                                <th scope="row">Nama Organisasi</th>
                                <th scope="row">Jabatan</th>
                                <th scope="row">Durasi</th>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Hirisman 7</td>
                                <td>Wakil Ketua</td>
                                <td>2 thn</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>OSIS SMAN 7 Bogor</td>
                                <td>anggota</td>
                                <td>2 thn</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Parkour Cibinong</td>
                                <td>anggota</td>
                                <td>1 thn</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Wing Chung Bogor</td>
                                <td>anggota</td>
                                <td>2 thn</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>KIR SMAN 7 Bogor</td>
                                <td>anggota</td>
                                <td>1 thn</td>
                            </tr>
                        </table>

                        <br>
                        <br>
                        <h2>Kepanitiaan dan prestasi</h2>
                        <div class="container">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Nama</th>
                                        <th scope="col">pekerjaan</th>
                                        <th scope="col">tahun</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Maulid Nabi tahunan SMAN 7 Bogor</td>
                                        <td>Logistik</td>
                                        <td>2015,2016,2017</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>acara Perlombaan Rohis</td>
                                        <td>Ketua Pelaksana</td>
                                        <td>2016,2017</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <h2>Bahasa Pemograman dan Framework</h2>
                        <div class="container">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Bahasa Pemograman</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>C</td>


                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>C++</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Pyhton</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>R</td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <br>

        </div>
    </div>

    <div class="pass">
        <br><br><br>
    </div>

    {% include "chatbox.html" %}


    <script src="{% static 'js/particles.min.js' %}"></script>
    <script src="{% static 'js/settings.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'jquery/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'js/lab_4.js' %}"></script>
</body>

</html>