{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome To my Portofolio | Elvin Nur Furqon</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/lab_4.css' %}">
</head>

<body>
    <audio src="{% static 'songs/song.wav' %}" type="audio/wav" autoplay="true" loop="true"></audio>
    <div id="particles-js"></div>
    <div class="pass">
        <br><br><br>
    </div>

    <div class="Container text-center justify-content-around box">
        <div class="card">
            <h1>Selamat Datang</h1>
            <h2>di</h2>
            <h1>Portofolio</h1>
        </div>
    </div>

    <div class="pass">
        <br><br><br>
    </div>

    </div>
    <div class="cointaner-fluid text-center">
        <div class="d-flex justify-content-around text-center">
            <div class="card" style="width: 10rem; height: 3.3rem;">
                <a href="/profil/" class="btn btn-primary">
                    <h4>Profil</h4>
                </a>
            </div>
            <div class="card" style="width: 10rem; height: 3.3rem;">
                <a href="/resume/" class="btn btn-primary">
                    <h4>Resume</h4>
                </a>
            </div>
            <div class="card" style="width: 10rem; height: 3.3rem;">
                <a href="/portofolio/" class="btn btn-primary">
                    <h4>Portofolio</h4>
                </a>
            </div>
        </div>
    </div>

    {% include "chatbox.html" %}



    <script src="{% static 'js/particles.min.js' %}"></script>
    <script src="{% static 'js/settings.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'jquery/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'js/lab_4.js' %}"></script>
</body>

</html>