{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portofolio | Elvin Nur Furqon</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/portofolio_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/lab_4.css' %}">
</head>

<body>

    {% include "partials/header.html" %}


    <div id="particles-js"></div>
    <div class="pass">
        <br><br><br>
    </div>

    <div class="Container text-center justify-content-around box">
        <div class="card">
            <h1>Portofolio</h1>
            <br>

            <div class="row justify-content-md-center">
                <div class="row">
                    <div class="card mr-5" style="width: 15rem;">
                        <img src="{% static 'img/manganyok.png' %}" class="card-img-top" alt="manganyok">
                        <div class="card-body">
                            <h5 class="card-title">manganyok</h5>
                            <p class="card-text">situs kumpulan resep makanan, minuman dan jajanan tradisional
                                Indonesia.</p>
                            <br>
                            <a href="http://manganyok.000webhostapp.com/" class="btn btn-primary">kunjungi</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card mr-5" style="width: 15rem;">
                        <img src="{% static 'img/myportfolio.PNG' %}" class="card-img-top" alt="myportfolio">
                        <div class="card-body">
                            <h5 class="card-title">My First Portofolio</h5>
                            <p class="card-text">website portofolio pertama Elvin Nur Furqon.</p>
                            <br><br>
                            <a href="http://manganyok.000webhostapp.com/" class="btn btn-primary">kunjungi</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card" style="width: 15rem;">
                        <img src="{% static 'img/mypo.png' %}" class="card-img-top" alt="myportofolio 2">
                        <div class="card-body">
                            <h5 class="card-title">MyPortfolio</h5>
                            <p class="card-text">website portofolio kedua Elvin Nur Furqon.</p>
                            <br><br>
                            <a href="https://portofolioelvin.herokuapp.com/" class="btn btn-primary">kunjungi</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>

        </div>
    </div>

    <div class="pass">
        <br><br><br>
    </div>


    {% include "chatbox.html" %}

    <script src="{% static 'js/particles.min.js' %}"></script>
    <script src="{% static 'js/settings.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'jquery/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'js/lab_4.js' %}"></script>
</body>

</html>